.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #D3D3D3;
  border-radius: .5rem;
  padding: 2rem;
  width: 31%;
  margin-bottom: 4rem;
  -webkit-transition: border-color .3s ease;
  transition: border-color .3s ease;
  cursor: pointer;
}

.card:hover {
  border-color: #000000;
}

.card__avatar {
  border-radius: 50%;
  height: 16rem;
  width: 16rem;
  display: block;
  max-width: 100%;
}

@media (max-width: 1400px) {
  .card__avatar {
    height: 14rem;
    width: 14rem;
  }
}

@media (max-width: 768px) {
  .card__avatar {
    margin-bottom: 1rem;
  }
}

.card__text__container {
  margin-left: 2rem;
}

.card__text__container__name {
  margin-bottom: .5rem;
}

.card__text__container__email {
  margin-bottom: .5rem;
}

@media (max-width: 500px) {
  .card__text__container__email {
    font-size: 1.8rem;
  }
}

.card__text__container p {
  color: #4b4849;
}

@media (max-width: 1400px) {
  .card__text__container p {
    font-size: 1.7rem;
  }
}

@media (max-width: 768px) {
  .card__text__container {
    margin-left: 0;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .card__text__container {
    margin-left: 2rem;
    text-align: left;
  }
}

@media (max-width: 320px) {
  .card__text__container {
    margin-left: 0;
    text-align: center;
  }
}

.card:nth-child(odd), .card:nth-child(even) {
  opacity: 0;
  -webkit-animation: move-card .75s forwards;
          animation: move-card .75s forwards;
}

.card:first-child {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

.card:nth-child(2) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.card:nth-child(3) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.card:nth-child(4) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.card:nth-child(5) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.card:nth-child(6) {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.card:nth-child(7) {
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

.card:nth-child(8) {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

.card:nth-child(9) {
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}

.card:nth-child(10) {
  -webkit-animation-delay: .10s;
          animation-delay: .10s;
}

.card:nth-child(11) {
  -webkit-animation-delay: .11s;
          animation-delay: .11s;
}

@media (max-width: 1400px) {
  .card {
    width: 49%;
  }
}

@media (max-width: 768px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 500px) {
  .card {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 320px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@-webkit-keyframes move-card {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes move-card {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.header {
  padding: 4rem 0;
  max-width: 165rem;
  margin: 0 auto;
}

@media (max-width: 1400px) {
  .header {
    max-width: 122rem;
  }
}

@media (max-width: 1200px) {
  .header {
    max-width: 105rem;
  }
}

@media (max-width: 1024px) {
  .header {
    max-width: 102rem;
  }
}

@media (max-width: 768px) {
  .header {
    max-width: 70rem;
  }
}

@media (max-width: 500px) {
  .header {
    max-width: 46rem;
  }
}

@media (max-width: 320px) {
  .header {
    max-width: 30rem;
  }
}

body {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4);
}

.hidden {
  display: none;
}

.modal {
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 45rem;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #D3D3D3;
  border-radius: 10px;
  padding: 5rem;
}

.modal__close {
  position: absolute;
  right: 4%;
  top: 4%;
  cursor: pointer;
  font-size: 2.2rem;
  background-color: transparent;
  border: none;
  opacity: .5;
  -webkit-transition: opacity .4s ease;
  transition: opacity .4s ease;
}

.modal__close:hover, .modal__close:active, .modal__close:focus {
  opacity: 1;
}

.modal__avatar {
  border-radius: 50%;
  margin-bottom: 1rem;
}

.modal__text__container__phone {
  margin-top: 1.2rem;
}

.modal__text__container p {
  margin-bottom: 1.2rem;
  font-weight: 300;
}

@media (max-width: 320px) {
  .modal__text__container p {
    font-size: 1.7rem;
  }
}

.modal__text__container__birthday {
  margin-bottom: 0;
}

@media (max-width: 320px) {
  .modal {
    width: 30rem;
    padding: 2rem;
  }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

.grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 165rem;
  margin: 0 auto;
}

@media (max-width: 1400px) {
  .grid-container {
    max-width: 122rem;
  }
}

@media (max-width: 1200px) {
  .grid-container {
    max-width: 102rem;
  }
}

@media (max-width: 1024px) {
  .grid-container {
    max-width: 95rem;
  }
}

@media (max-width: 768px) {
  .grid-container {
    max-width: 70rem;
  }
}

@media (max-width: 500px) {
  .grid-container {
    max-width: 46rem;
  }
}

@media (max-width: 320px) {
  .grid-container {
    max-width: 30rem;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Balsamiq Sans", cursive;
  line-height: 1.3;
  padding: 0;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.6rem;
  text-transform: uppercase;
  margin: 0;
  color: #4b4849;
  letter-spacing: .3em;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 2.3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.spacer {
  padding: 0 1rem;
}

h2 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0;
}

p {
  font-size: 2rem;
  margin: 0;
}

h1 span {
  position: relative;
  opacity: 0;
  -webkit-animation: move-text .75s forwards;
          animation: move-text .75s forwards;
}

h1 span:first-child {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

h1 span:nth-child(2) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

h1 span:nth-child(3) {
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

h1 span:nth-child(4) {
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}

@-webkit-keyframes move-text {
  0% {
    bottom: -.2rem;
    opacity: 0;
  }
  50% {
    bottom: .2rem;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes move-text {
  0% {
    bottom: -.2rem;
    opacity: 0;
  }
  50% {
    bottom: .2rem;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */