// VARIABLES --------------------------------- /

// COLORS

$color-primary-bg: #F9FAFA;
$color-secondary-bg: #FEFEFE;
$color-white: #FFFFFF;
$color-black: #000000;
$color-dark: #4b4849;
$color-border: #D3D3D3;


// FONTS
$main-font: 'Balsamiq Sans', cursive;
$base-font-size: 18px;

$font-light: 300;
$font-regular: 400;
$font-bold: 700;

// GUTTER
$gutter: .5rem;

// MAIN
$main-max-width: 165rem;

// MEDIA QUERIES
$bp-desktop: 1400px;
$bp-laptop-md: 1200px;
$bp-laptop: 1024px;
$bp-tablet: 768px;
$bp-mobile-md: 500px;
$bp-mobile-sm: 420px;
$bp-mobile-xs: 320px;


