// CARD

.card {

    display: flex;
    align-items: center;
    border: 2px solid $color-border;
    border-radius: .5rem;
    padding: 2rem;
    width: 31%;
    margin-bottom: 4rem;
    transition: border-color .3s ease;
    cursor: pointer;

    &:hover {
        border-color: $color-black;
    }

    &__avatar {
        border-radius: 50%;
        height: 16rem;
        width: 16rem;
        display: block;
        max-width: 100%;

        @media (max-width: $bp-desktop) {
            height: 14rem;
            width: 14rem;
        }

        @media (max-width: $bp-tablet) {
            margin-bottom: 1rem;
        }
    }

    &__text__container {
        margin-left: 2rem;

        &__name {
            margin-bottom: .5rem;
        }

        &__email {
            margin-bottom: .5rem;

            @media (max-width: $bp-mobile-md) {
                font-size: 1.8rem;
            }
        }

        p {
            color: $color-dark;

            @media (max-width: $bp-desktop) {
                font-size: 1.7rem;
            }
        }

        @media (max-width: $bp-tablet) {
            margin-left: 0;
            text-align: center;
        }

        @media (max-width: $bp-mobile-md) {
            margin-left: 2rem;
            text-align: left;
        }

        @media (max-width: $bp-mobile-sm) {
            margin-left: 0;
            text-align: center;
        }
    }

    &:nth-child(odd), 
    &:nth-child(even) {
        opacity: 0;
        animation: move-card .75s forwards;
    }

    &:first-child {
        animation-delay: .1s;
    }

    &:nth-child(2) {
        animation-delay: .2s;
    }

    &:nth-child(3) {
        animation-delay: .3s;
    }

    &:nth-child(4) {
        animation-delay: .4s;
    }

    &:nth-child(5) {
        animation-delay: .5s;
    }

    &:nth-child(6) {
        animation-delay: .6s;
    }

    &:nth-child(7) {
        animation-delay: .7s;
    }

    &:nth-child(8) {
        animation-delay: .8s;
    }

    &:nth-child(9) {
        animation-delay: .9s;
    }

    &:nth-child(10) {
        animation-delay: .10s;
    }

    &:nth-child(11) {
        animation-delay: .11s;
    }

    @media (max-width: $bp-laptop-md) {
        width: 49%;
    }

    @media (max-width: $bp-tablet) {
        flex-direction: column;
    }

    @media (max-width: $bp-mobile-md) {
        width: 100%;
        flex-direction: row;
    }

    @media (max-width: $bp-mobile-sm) {
        flex-direction: column;
    }

}

// ANIMATIONS

@keyframes move-card {

    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }

}

