// GLOBAL IMPORTS ------------------------------- / 

.header {
    padding: 8rem 0;
    @include main-spacing;

    @media (max-width: $bp-laptop) {
        padding: 8rem 0 4rem;
        max-width: 95rem;
    }

    @media(max-width: $bp-tablet) {
        max-width: 70rem;
    }

    @media (max-width: $bp-mobile-md) {
        max-width: 46rem;
    }

    @media (max-width: $bp-mobile-sm) {
        padding: 4rem 0;
        max-width: 30rem;
    }
}