// GLOBAL IMPORTS ------------------------------- / 

.header {
    padding: 8rem 0 4rem;
    @include main-spacing;

    @media (max-width: $bp-desktop) {
        max-width: 122rem;
    }

    @media (max-width: $bp-laptop-md) {
        max-width: 102rem;
    }

    @media (max-width: $bp-laptop) {
        max-width: 87rem;
    }

    @media (max-width: $bp-tablet-lg) {
        max-width: 78rem;
    }

    @media(max-width: $bp-tablet) {
        max-width: 70rem;
    }

    @media (max-width: $bp-mobile-md) {
        max-width: 45rem;
    }

    @media (max-width: $bp-mobile-sm) {
        max-width: 30rem;
    }

    @media (max-width: $bp-mobile-xs) {
        max-width: 28rem;
    }
}