// GLOBAL IMPORTS ------------------------------- / 

.header {
    padding: 8rem 0;
    @include main-spacing;

    @media (max-width: $bp-laptop) {
        padding: 8rem 0 4rem;
        max-width: 95rem;
    }
}