// MODAL

body {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}

.hidden {
    display: none;
}

.modal {
    position: fixed;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    width : 45rem;
    text-align: center;
    background: $color-white;
    border: 1px solid $color-border;
    border-radius: 10px;
    padding: 5rem;
    
    &__close {
        position: absolute;
        right: 4%;
        top: 4%;
        cursor: pointer;
        font-size: 2.2rem;
        background-color: transparent;
        border: none;
        opacity: .5;
        transition: opacity .4s ease;

        &:hover,
        &:active,
        &:focus {
            opacity: 1;
        }
    }

    &__avatar {
        border-radius: 50%;
        margin-bottom: 1rem;
    }

    &__text__container {

        &__phone {
            margin-top: 1.2rem;
        }

        p {
            margin-bottom: 1.2rem;
            font-weight: 300;
        }

        &__birthday {
            margin-bottom: 0;
        }

    }
}


