// SPACINGS

.grid-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include main-spacing;

    @media (max-width: $bp-laptop) {
        max-width: 95rem;
    }

    @media (max-width: $bp-tablet) {
        max-width: 70rem;
    }

    @media (max-width: $bp-mobile-md) {
        max-width: 46rem;
    }

    @media (max-width: $bp-mobile-sm) {
        max-width: 30rem;
    }
}

