// TYPOGRAPHY

*, 
*:before, 
*:after {
	box-sizing: border-box;
}

html {
    font-size: 62.5% /* This value represents 1REM */
}

body {
    font-family: --main-font;
    line-height: 1.3;
    padding: 0;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0;
}

h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 0;
    letter-spacing: .1rem;
    color: $color-dark;
}

